<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=9">
<title>Sections Managment tool</title>
<script type="text/javascript" src="js/sections.js"></script>
</head>
<body>
<h1>$name</h1>
<form action="/sectionsUtilityTool/index.vm" method="POST" id ="primaryI" name="primaryI">
<input type="hidden" id= "form1" name="form1" value=""/>
Select a Term:
<select name="termList" id="termList">
  <option name="2020" value="2020">Fall2015</option>
  <option name="2021"value="2021">spring2015</option>
  <option name="2022"value="2022">summer2015</option>
  <option name="2023"value="2023">spring/summer2015</option>
</select>
<br>Uniquename:<br>
<input type="text" id="uniquename" name="uniquename" value=""/>
<br><br>
<input type="submit" value="submit" onClick="javascript:myfunc()"/>
</form>
<p id ="courseList">$!coursesOfInstructor</p>
</body>
</html>
