<!DOCTYPE html>
<html lang="en" ng-app="sectionsApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="assets/vendor/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/custom_style.css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="assets/vendor/jquery/jquery-ui-1.11.2/jquery-ui.min.css">
        <title>Sections Manager</title>
    </head>
    <body ng-controller="coursesController" ng-cloak>
      <div class="alert alert-danger debugPanel" id="debugPanel"></div>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header mastHead">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1 class="navbar-brand collapse-nav">Sections Manager</h1>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="collapse-nav" data-toggle="modal" data-target="#serverInfoModal">About</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="container-fluid contentWrapper">
            <div class="btn-group pull-right" ng-show="termArray" ng-controller = "termsController" ng-cloak>
                <button type="button" class="btn btn-sm btn-default dropdown-toggle pull-right" data-toggle="dropdown">
                    Terms <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu"> <!--| filterMedSchool-->
                    <!--
                    <li ng-repeat="term in terms | orderBy : sis_term_id" ng-show="(term.sis_term_id.slice(-1) ==='0' || term.sis_term_id.slice(-1) !=='0' && filterMedSchool)">
                    -->

                    <li ng-repeat="term in terms | orderBy : sis_term_id" ng-data-id="{{term.id}}" style="display:none">
                        <a href='' ng-click="getTerm(term.sis_term_id, term.name, term.id)">{{term.name}} - {{term.id}}</a>
                    </li>
                </ul>
            </div>

            <div class="spinner pull-right" ng-show="loading"></div>


            <div class="form-inline">

              <div class="form-group">
                <label for="uniqname" class="sr-only">Enter uniqname</label>
                <input type="text"  ng-model="uniqname" id="uniqname" class="form-control"  placeholder="uniqname" autofocus>

              </div>
              <button id="uniqnameTrigger" type="button" ng-click="getCoursesForUniqname()" class="btn btn-primary">Look up courses <span ng-show="uniqname">for</span> {{uniqname}}</button>
              <span ng-show="error" class="alert" role="alert">{{errorMessage}} </span>
              <span ng-show="errorLookup"> Lookup in the 
              <a target="_blank" href="https://mcommunity.umich.edu/#search:{{uniqname}}"> directory</a>?</span>
              <span ng-show="success" class="alert" role="alert">Found {{filtered.length}} courses for <a target="_blank" href="https://mcommunity.umich.edu/#search:{{uniqname}}"> {{uniqname}}</a> for this term.</span><small ng-show="instructions">Drag and drop sections, then click on <strong>Update Course</strong></small>
            </div>
            <h4 title="SIS-ID: {{currentTerm.currentTermId}} CV-ID: {{currentTerm.currentTermCanvasId}}"> {{currentTerm.currentTermName}}
                <!--
                <small class="pull-right"><input type="checkbox" ng-model="filterMedSchool" id="includeMedSchool"/> <label style="font-weight:normal" for="includeMedSchool">Include Med School Terms</label></small>
                -->
            </h4>
            <div class="alert alert-info" ng-show="courses.errors">{{courses.errors}}</div>
            <div class="coursePanel well" ng-show="success && !courses.errors">
                <ul class="container-fluid courseList">
                    <li ng-repeat="item in filtered = (courses  | filter:{enrollment_term_id:currentTerm.currentTermCanvasId})" class="course">
                        <div class="row">
                            <div class="col-md-10">
                                <strong><a class="courseLink" href="https://umich.instructure.com/courses/{{item.id}}" target="_blank">{{item.course_code}}</a></strong> <span title="CV-TERM-ID: {{item.enrollment_term_id}}" ng-show="item.name">{{item.name}}</span>
                            </div>
                            <div class="col-md-2">
                                <button ng-show="item.sections.length" class="btn btn-primary btn-xs pull-right setSections" data-courseid="{{item.id}}">Update Course</button>
                            </div>
                        </div>
                        <ul ui-sortable="sortableOptions" class="sectionList" id="course{{item.id}}" ng-show="item.sections.length">
                            <li ng-repeat="section in item.sections" class="row section" data-sectionid="{{section.id}}">
                                <div class="col-md-5 sectionName">
                                    {{section.name}}
                                </div>
                                <div class="col-md-7">
                                    <span class="status"></span> <span class="orig" style="display:none"> - Originally from: {{item.course_code}}</span>                                    
                                </div>        
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <script src="assets/vendor/jquery/jquery-1.11.0.min.js"></script>
        <script src="assets/vendor/jquery/jquery-ui-1.11.2/jquery-ui.min.js"></script>
        <script src="assets/vendor/angular/angular.min.js">
        </script>
        <script src="assets/vendor/angular/sortable.js"></script>
        <script src="assets/vendor/bootstrap/bootstrap.min.js">
        </script>
        <script src="assets/vendor/moment/moment.min.js">
        </script>
		<script src="assets/vendor/underscore/underscore-min.js">
        </script>
        <script src="assets/js/utils.js">
        </script>
        <script src="assets/js/controllers/controllers.js">
        </script>
        <script src="assets/js/factories/factories.js">
        </script>
        <script src="assets/js/filters/filters.js">
        </script>



        <!-- Server Info Modal -->
        <div class="modal fade" id="serverInfoModal" tabindex="-1" role="dialog" aria-labelledby="serverInfoLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h3 class="modal-title" id="serverInfoLabel">Section Management!</h3>
                    </div>
                    <div class="modal-body">
                        <p>Version, revision, etc</p>
                        <p>Contact info, bug reporting</p>
                        <p>
                            <strong>Available test users:</strong> amanjo, csev, jxiaapl, pbogart, pfbodary, raquelng, sileo, trohlck
                        </p>
                    </div>    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
