CANVAS_TIME_INTERVAL=2600
CANVAS_ALLOWED_CALL_NUMBER=2900
ALERT_EMAIL_ADDRESS=EMAIL_ADDRESS

# for sis_upload
CURRENT_DIRECTORY=PATH
SLEEP=20
PRACTICE_COURSE_SUBACCOUNT=ACCOUNT_ID
AWS_S3_BUCKET=BUCKET_NAME

# for sis_set_url
PAGE_SIZE=100
ESB_TIME_INTERVAL=60
ESB_ALLOWED_CALL_NUMBER=50
CANVAS_TOKEN=<CANVAS_TOKEN>
CANVAS_URL=<CANVAS_URL>
ESB_KEY=<ESB_KEY>
ESB_SECRET=<ESB_SECRET>
ESB_URL=<ESB_URL>
ESB_TOKEN_URL=<ESB_TOKEN_URL>